[Unit]
Description=Start Gamal
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/python3 /opt/Gamal/gamal.py

[Install]
WantedBy=multi-user.target